[submodule "submodules/assimp"]
	path = submodules/assimp
	url = https://github.com/assimp/assimp.git
[submodule "submodules/godot-cpp"]
	path = submodules/godot-cpp
	url = https://github.com/godotengine/godot-cpp.git
	branch = 4.3
[submodule "submodules/OpenImageIO"]
	path = submodules/OpenImageIO
	url = https://github.com/AcademySoftwareFoundation/OpenImageIO.git
